.ingredient {
    border: 1px solid;
    border-color: var(--chakra-colors-chakra-border-color);
    display: flex;
    align-items: center;
    padding: 0.3rem;
    margin: 0.5rem
}

.chakra-icon {
    padding: 0.75rem;
}

.chakra-input {
    margin: 0.1rem;
}
