.profile-info {
   /* border: 2px solid; */
   background-color: rgb(255, 255, 255, .4);
   margin: 1rem;
   padding: 2rem;
   padding-bottom: 4rem;
}

.welcome-user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: #2C7A7B;
}

.user-data-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;    
    margin-top: 2rem;
}

.user-bar-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, .4);
    border-radius: 4rem;
    padding: 2rem;
    margin: 2rem;
}

.user-bar-count {
    background-color: rgb(255, 255, 255, .4);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    min-width: 16rem;
}


.bar-drink-count {
    background-color: rgb(255, 255, 255, .4);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    min-width: 16rem;
}

.personal-info {
    background-color: rgb(255, 255, 255, .4);
    border-radius: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
    text-align: left;
    max-width: 30rem;
    margin: 2rem;
    
}

.my-info,
.my-bar-info {
    text-align: center;
}

