/* .user-page {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.users-name {
    display: flex;
    font-size: 3.0rem;
    text-align: center;
    flex-direction: column;
}

.users-drinkCount {
    border-radius: 100%;
    width: 200px;
    height: 300px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin-left: 7%;
}

.users-barCount {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.5rem;
    left: -150px;
    top: 250px;
}

.users-barInfo {
    position: relative;
    justify-content: center;
    width: 15rem;
    height: 30rem;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

.users-bar {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo-img {
    width: 20rem;
    align-content: center;
}

.welcome-user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 20rem;
} */