.head {
    display: flex;
}

.header-container {
    justify-content: space-between;
}

.main-nav {
    align-items: center;
    padding: 2rem;
}


.nav-list {
    border: 1px solid black;
    width: fit-content;
    padding: .75rem;
    border-radius: .5rem;
    margin-right: .75rem;
} 