.search-page {
    display: flex;
    flex-direction: column;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 2rem;
    width: 100%;
}

.search-msg-box {
    border: 2px solid black;
    border-radius: .3rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
    display: flex;

}
h3 {
    background: #fff;
    opacity: 0.9;
    width: 100%;
    text-align: center;
}

input {
    border: 2px solid black;
    border-radius: .3rem;
}
.search-results {
    display: flex;
    flex-wrap: row;
}

.cocktail {
    height: 25rem;
    width: 20rem;
}


.cocktail:hover h3 {
    background: black;
    opacity: 0.9;
    color: white;
}

.go-btn {
    border: 2px solid gray;
    border-radius: .3rem;
    width: 20%;
    padding: .2rem;
    margin-left: 1rem;
}
