.cocktail {
    height: 25rem;
    width: 20rem;
    display: flex;
    align-items: center;
    margin: 3rem;
}
h3 {
    background: #fff;
   width: 3rem;
}


.cocktail:hover h3 {
    background: black;
    opacity: 0.9;
    color: white;
}

.cocktail-name {
    background: #fff;
    opacity: 0.9;
    width: 100%;
    /* text-align: center; */
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
