.chakra-modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cocktail-details-container {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.cocktail-details-container img {
    max-height: 30rem;
    border-radius: 5rem;
    margin: 1.5rem;
}

.ingredients-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    font-size: 1.5rem;
}

.steps {
    padding: 1rem;
    font-size: 1.25rem;
}

h1 {
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.cocktail-details {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgb(255, 255, 255, .4);
    max-width: 40rem;
    border-radius: 5rem;
}

.chakra-alert {
    display: flex;
    justify-content: center;
    width: 70%;
    font-weight: bold;
    color: #2C7A7B;
    opacity: .8;
}

.chakra-button {
    margin: .2rem;
}

.cocktail-info-error {
    border: none;
}