.chakra-modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cocktail-details-container {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.ingredients-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background: #fff;
    opacity: 0.9;
}

.steps {
    padding: 1rem;
    background: #fff;
    opacity: 0.9;
}

h1 {
    background: #fff;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.cocktail-details {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    border-radius: 3rem;
    border: solid;
}

.chakra-alert {
    display: flex;
    justify-content: center;
    width: 70%;
}

.chakra-button {
    margin: 2rem;
}