.chakra-modal__body {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    
}

.chakra-modal__header {
    text-align: center;
    
}

.chakra-modal__content-container {
    background: lightblue;
    padding: 2rem;
    display: flex;
    width: 35em;
    
}
.chakra-modal__content {
    align-items: center;
}

input {
    text-align: center;
    height: 3rem;
    width: 12rem
}