.bar-page {
 height: 100%;
 width: 100%;
 color: #2C7A7B;

}

.bar-link {
    margin: auto;
    margin-left: 35%;

}

.bar-info {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(255, 255, 255, .4);
}

.add-btn-box {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
}

