.App {
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, .4);
  
}

.chakra-heading {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
}

.story {
  padding: 2rem;
  width: 28rem;
  height: 16rem;
  margin: auto;
  color: #2C7A7B;
  font-weight: bold;
  font-size: 1.5rem;
}

.welcome-logo {
  margin: auto;
  color: #2C7A7B;
  font-weight: bold;
}

.fav-drinks {
    text-align: center;
    color: #2C7A7B;
}

.favorite-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgb(255, 255, 255, .4);
}

main {
  background-image: url(../assets/bg2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 2rem;
}

