.App {
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: space-between;
  border: solid 2px;
  margin-top: 2vw;
}

h1 {
  margin: 4rem;
  font-size: 7.5rem;
}

.chakra-heading {
  margin: 3rem;
}

.story {
  border: solid 2px;
  padding: 2rem;
  width: 22rem;
  margin-right: 11rem;
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.fav-drinks {
  text-align: center;
}

.favorite-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-error {
  border: none;
}