.head-2 {
    display: flex;
}

.alt-header-box {
    justify-content: space-between;
    border: 2px solid black;
}

.second-header {
    align-items: center;
    padding: 3rem;
}

.bar-tab {
    border: 1px solid black;
    padding: .35rem;
    border-radius: .6rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    font-size: x-small;
}

.bar-icon-box {
    text-align: center;
}

.chakra-button {
    margin-top: .2rem;
}

h4 {
    border: 2px solid black;
    padding: .75rem;
}