.head-2 {
    display: flex;
}

.alt-header {
    padding: 1rem;
}

.alt-header-box {
    justify-content: space-between;
    border: 2px solid black;
}

.site-logo {
    padding: 2rem;
    margin: auto;
    margin-top: 3%;
}

.second-header {
    align-items: center;
    padding: 3rem;
}

.bar-tab {
    padding: .35rem;
    border-radius: .6rem;
    margin-right: 1.25rem;
    margin-left: 1.45rem;
    margin-top: .12rem;
}

.bar-tab:hover {
    background-color:#4ba89a;
}

.bar-icon-box {
    text-align: center;
}

.chakra-button {
    margin-top: .2rem;
}


.nav-list:hover {
    background-color: black;
    color: white;
}